<% content_for :title, "Archive Blogs" %>
<section class="blog-banner">
    <div class="banner-content">
      <div class="container">
        <h3> Blog </h3>
        <ul>
          <li>Home</li>
          <li>/</li>
          <li class="active"><b>Blog</b></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="">
  <div class="container">
    <div class="tab-content">
      <div class="tab-pane active" id="tab1" role="tabpanel">
        <%= render partial: 'blogs/blogs'%>
        <div class="col-md-4 col-sm-4">
          <div>
            <h4 class="comment"> Archive </h4>
            <%= render partial: 'blogs/archive'%>
          </div>
          <%= render 'subscribes/new'%>
          <div class="clearfix"></div>
      			<%= render partial: 'blogs/popular_blogs'%>
        </div>
      </div>
     
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <%= will_paginate @blogs, renderer: BootstrapPagination::Rails %>
    </div>
  </div>