  <section class="register-box">
    <% if devise_error_messages!.present? %>
     <div class="alert alert-error notice">
      <strong><%= devise_error_messages! %></strong> 
      <span class="glyphicon glyphicon-hand-up cross"></span>
    </div>
    <%end%>
    <div>
      <div class="container">
        <div class="col-md-8 col-md-offset-2  register-form clear-box">
          <h4>Client Registration</h4>
          <div class="apply-form  ">
          	<%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: {onsubmit: "return checkForm(this)"}) do |f| %>
          	
              <div class="form-group float-label-control">
                <%= f.text_field :first_name, autofocus: true,class: "form-control", placeholder: "First Name"%> 
              </div>
              <div class="form-group float-label-control">
                <%= f.text_field :last_name, autofocus: true,class: "form-control ", placeholder: "Last Name"%>
              </div>
              <div class="form-group float-label-control">
                <%= f.number_field :mobile_number, autofocus: true,class: "form-control", placeholder: "Mobile Number"%> 
              </div>
              <div class="form-group float-label-control">
                <%= f.email_field :email, autofocus: true,class: "form-control" ,placeholder: "Email"%>
              </div>
              <div class="form-group float-label-control">
              	<% if @minimum_password_length %>
       						<!-- (<%= @minimum_password_length %> characters minimum) -->
                <% end %>
        				<%= f.password_field :password, autofocus: true,class: "form-control", placeholder: "Password "%> 
              </div>
              <div class="form-group float-label-control">
                <%= f.password_field :password_confirmation, autofocus: true,class: "form-control", placeholder: "Password Confirmation"%> 
              </div>
              <div class="form-group float-label-control">
                <%= select_tag "user[care_for]", options_for_select(User::CAREFOR,"patient"),:prompt => "Who is this care for ?",class: " selectBox" %>
              </div>

              <div class="form-group float-label-control">
                <%= select_tag "user[state]", options_for_select(User.states,"patient"), :prompt => "Select State",class: " selectBox" %>
              </div>

              <div class="form-group float-label-control">
                <%= select_tag "user[city]", options_for_select([],"patient"),:prompt => "Select City",class: " selectBox" %>
              </div>

              <div class="form-group float-label-control">
               <%#= f.text_field :address, autofocus: true,class: "form-control input-md", placeholder: "Address"%> 
              </div>
               <div class="form-group float-label-control">
               <%= f.number_field :pin_code, autofocus: true,class: "form-control input-md", placeholder: "Pin Code"%>
             	</div>


              <div class="form-group float-label-control">
                <div class="squaredTwo">
                  <input type="checkbox" name="agree" id="squaredTwo">
                	<%#= check_box_tag "agree",nil ,:html => {id: "squaredTwo"} %>
                  <label for="squaredTwo"></label>
                </div>
                <p> <%= label_tag "I agree to Rightcare's ",nil %> <%= link_to 'Terms & Conditions',terms_condition_pages_path%> </p>
              </div>
              <br>
              </br>
              <br>
              </br>
              <div class="clearfix"></div>
              <div class="form-group ">
              	<center>
                <%= f.submit "Sign up", class: "button"%>
                </center>
              </div>
           		<%end%>
              <div style="margin-left: 10px;">
                <%= render "devise/shared/links" %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
 function checkForm(form)
  {
    if(!form.agree.checked) {
      alert("Please indicate that you accept the Terms and Conditions");
      form.agree.focus();
      return false;
    }
    return true;
  }

 $(document).ready(function(){
  $("#user_state").change(function(){
      $.ajax({
        type: "GET",
        url: "<%= select_city_users_path %>",
        data: {'state_name': this.value},
      success: function(html) {
        $("#user_city").prepend("<option value='''>Select City</option>");
      },
      error: function(e){
        console.log(e);
      }
    })
  })
 })
</script>