<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h5>Hello <%= @email %>, </h5>
    <p>
      New blog has been created 
      <b>blog title <%= @blog.title %></b>
      <p>blog content: <%= @blog.content %></p><br>
      <%= link_to "click to see" , blog_url(@blog)%>
       <%= link_to "unsubscribe" , unsubscribe_subscribes_url(token: @token)%>
      <br/>
    </p>
   
    <p>Thanks have a great day!</p>
  </body>
</html>