<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<section class="about-banner dashboard-banner">
<div class="banner-content">
  <div class="container">
    <h3> Dashboard </h3>
    <ul>
      <li>Home</li>
      <li>/</li>
      <li class="active"><b>Dashboard</b></li>
    </ul>
  </div>
</div>
</section>                        
<section class="about-sec">
<div class="container">
	<div class="col-md-12 well well-sm">
	  <div>
	    <div class="">
	      <div>
	        <h4>Patient Information</h4>
	        <div class="col-sm-5 col-md-3  ">
	          <div class="border-dashboard">
	            <div class="col-sm-12">
	              <div class="image">
	              	<%= image_tag @patient.avatar.url, class: 'img-rounded'%>
	              </div>
	            </div>
	            <div class="col-sm-12 text-center">
	              <h5><%= @patient.full_name%></h5>
	              <small> <i class="fa fa-map-marker"> </i> <%=current_user.city%></small> 
	              
	              <!-- Split button --> 
	              
	            </div>
	          </div>
	        </div>
	        <div class="col-md-9 col-sm-7">
	          <h3>General Information</h3>
	          <div class="row-sec">
	            <div class="col-md-6 col-sm-6 clear-box">
	              <div class="col-md-6 ">
	                <p><b>Emergency Contact:</b></p>
	              </div>
	              <div class="col-md-6">
	                <p><%= @patient.emergency_contact%></p>
	              </div>
	            </div>
	            <div class="col-md-6 col-sm-6 clear-box">
	              <div class="col-md-6 ">
	                <p><b>Gender:</b></p>
	              </div>
	              <div class="col-md-6">
	                <p><%=@patient.gender%></p>
	              </div>
	            </div>
	          </div>
	          <div class="row-sec">
	            <div class="col-md-6 clear-box">
	              <div class="col-md-6 ">
	                <p><b>Payment details:</b> </p>
	              </div>
	              <div class="col-md-6 ">
	                <p><%= link_to "Go to payment detail",payment_details_users_path %></p>
	              </div>
	            </div>
	          </div>
	           <div class="row-sec">
	            <div class="col-md-12">
	              <p><b>Past caregiver information</b></p>
	              <p></p>
	            </div>
	            </div>
	          <div class="row-sec">
	            <div class="col-md-12">
	              <p><b>Medical Records </b></p>
	              <p>
	              <ul class="tags">
	               <%= patient_get_health @patient%>
	              </ul>
	              </p>
	            </div>
	          </div>
	           <div class="row-sec">
	           <h6>When your caregiver is due for a break or if you prefer a change to your care-personnel, please raise a request
	           </br>
	           <a href="#">Replace Caregiver</a>
	           </h6>
	           </div>
	          <div> </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<%if @caregiver.present? %>
		<div class="col-md-12 well well-sm">
		  <div >
		    <div class="">
		      <div >
		        <h4>Caregiver Information</h4>
		        <div class="col-sm-5 col-md-3  ">
		          <div class="border-dashboard">
		            <div class="col-sm-12">
		              <div class="image">
	                 <%= image_tag @caregiver.avatar.url,class: "img-rounded"%>
		              </div>
		            </div>
		            <div class="col-sm-12 text-center">
		              <h5> <%= @caregiver.full_name%></h5>
		              <small> <i class="fa fa-map-marker"> </i> <%= @caregiver.city%></small> <small> <i class="fa fa-envelope"></i><%= @caregiver.email%> </small>
		              <p class="text-center">
		                <center>
		                 <%= static_rating_star(@caregiver.extra_data["rating"])%>
		                </center>
		              </p>
		            </div>
		          </div>
		        </div>
		        <div class="col-md-9 col-sm-7">
		          <h3>General Information</h3>
		          <div class="row-sec">
		            <div class="col-md-6 col-sm-6 clear-box">
		              <div class="col-md-6">
		                <p><b>Adhar card no.</b></p>
		              </div>
		              <div class="col-md-6">
		                <p><%= @caregiver.extra_data[:id_prof]%></p>
		              </div>
		            </div>
		            <div class="col-md-6 col-sm-6">
		              <div class="col-md-6 no-space">
		                <p><b>Mobile:</b></p>
		              </div>
		              <div class="col-md-6 no-space">
		                <p><%= @caregiver.mobile_number%></p>
		              </div>
		            </div>
		          </div>
		          <div class="row-sec">
		            <div class="col-md-6 col-sm-6  clear-box">
		              <div class="col-md-6">
		                <p><b>Emergency Contact:</b></p>
		              </div>
		              <div class="col-md-6">
		                <p><%= @caregiver.extra_data[:emergency_contact]%></p>
		              </div>
		            </div>
		            <div class="col-md-6 col-sm-6">
		              <div class="col-md-6 no-space">
		                <p><b>Experience:</b></p>
		              </div> 
		              <div class="col-md-6 no-space">
		                <p><%= @caregiver.extra_data[:experience]%></p>
		              </div>
		            </div>
		          </div>
		          <div class="row-sec">
		            <div class="col-md-6 col-sm-6  clear-box">
		              <div class="col-md-6">
		                <p><b>Languages known:</b></p>
		              </div>
		              <div class="col-md-6">
		                <p><%= selected_languages @caregiver%></p>
		              </div>
		            </div>
		            <div class="col-md-6 col-sm-6">
		              <div class="col-md-6 no-space">
		                <p><b>Daily rate:</b></p>
		              </div>
		              <div class="col-md-6 no-space">
		                <p><%=@caregiver.amount.to_i%>/day</p>
		              </div>
		            </div>
		          </div>
		          <div class="row-sec">
		            <div class="col-md-6 col-sm-6  clear-box">
		              <div class="col-md-6">
		                <p><b>Attendance at work:</b></p>
		              </div>
		              <div class="col-md-6">
		                <p>Full</p>
		              </div>
		            </div>
		            <div class="col-md-6 col-sm-6">
		              <div class="col-md-6 no-space">
		                <p><b>Monthly off days</b></p>
		              </div>
		              <div class="col-md-6 no-space">
		                <p><%= current_user.payments.active.first.created_at+1.day %></p>
		              </div>
		            </div>
		          </div>
		          <div class="clearfix"></div>

		          <div class="row-sec">
		            <div class="col-md-6  clear-box">
		              <div class="col-md-6">
		                <p><b>Customer Feedback:</b></p>
		              </div>
		              <div class="col-md-6">
		                <div id="rateYo"></div>
		              </div>
		            </div>
		          </div>
		          <div class="row-sec">
		            <div class="col-md-12">
		              <p><b>Profile</b></p>
		              <p><%= @caregiver.extra_data[:profile]%></p>
		            </div>
		          </div>
		          <div class="row-sec">
		            <div class="col-md-12">
		              <p><b>Skills</b></p>
		              <p><%= @caregiver.skills%>
		              <!-- <ul>
		                <li> <i class="fa fa-arrow-right" aria-hidden="true"></i> Specialty care for Cancer care, Dementia, Parkinson's, Alzheimer's, Diabetic care, Stroke/ Paralysis </li>
		                <li><i class="fa fa-arrow-right" aria-hidden="true"></i> Assistance with Physiotherapy & Simple Massage / Pain Management /  Fluid Management </li>
		              </ul> -->
		              </p>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		
		  <div class="clearfix"></div>
		   <br>
		          
		  <div class="col-md-12 testiminial-block">
		    <h3>Customer Feedback</h3>
		    <br>
		    <div class="container">
					
    			<div >
					  <div class="col-md-6 clear-box">
  						<div class="widget-area no-padding blank">
							<div class="status-upload">
								<%= form_for Feedback.new, url: user_feedbacks_path(@current_user),remote: true do |f|%>
								  <%= f.hidden_field :caregiver_id, value: @caregiver.id %>
								  <%= f.text_area :content ,placeholder:"What are you doing right now?"%>
									<%=f.submit "feedback",class: 'btn btn-success green'%>
								<%end%>
							</div><!-- Status Upload  -->
						</div><!-- Widget Area -->
					</div>
				</div>
			</div>
		    <div id="feedbacks-sec" >
		    	<%= render partial: 'feedbacks/feedback', locals: {caregiver_id: @caregiver.id}%>
		    	<%# @feedbacks.each do |feedback|%>
			      <%#= render partial: 'feedbacks/feedback', locals: {feedback: feedback}%>
		      <%#end%>
		    </div>
		    
		  </div>
		</div>
	<%end%>
</div>
</section>
<script>
$(function () {
  $("#rateYo").rateYo({
  	"rating": "<%=@caregiver.extra_data['rating']%>",
  	 "fullStar": true,
  	onSet: function (rating, rateYoInstance) {
      	$.ajax({
		      url: "/users/set_rating",
		      type: "GET",
		      data_type: 'json',
		      data: {rating: rating, caregiver_id: "<%=@caregiver.id%>"}
        });
      
    }
  });
});
</script>