<section class="">
<div>
  <div class="container">
    <div class="col-xs-12 col-md-12 ">
      <div class="tab-content">
        <div class="tab-pane active" id="tab1" role="tabpanel">
          <div class="profile-caregiver">
        		<h3>Our  Caregivers <span> Available</span>
          <div>
          <center>
            <img src="/assets/seperation.png" height="14" width="85">
          </center>
        </div>
        </h3>
      </div>
      <% @caregivers.each do |cargiver|%>
      	<div class="col-sm-3">
        <div class="thumbnail">
          <div class="image"> 	<%= image_tag cargiver.avatar.url,width: '242px;'%></div>
          <div class="caption">
            <h3><%=cargiver.first_name%></h3>
            <p><%=cargiver.last_name%></p>
            <div class=" big-box" id="first-child">
            	<%= link_to "Read more", show_caregiver_user_path(cargiver), class: 'btn btn-primary' %>
              
            </div>
          </div>
        </div>
      	</div>
      <%end%>
      <%= will_paginate @caregivers %>
    </div>
  </div>
  </div>

</div>
</div>
</section>
<script>
$(document).ready(function(){
    $('li a').on('click',function(e){
  	    goTo((e.target.innerHTML)-0);
  });
});
</script>