<div class="container mt-20">
	<div class="row">
		<section class="content">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="pull-left">
							<h1></h1>
						</div>
						<div class="pull-right">
							<div class="btn-group">
								<!-- <button type="button" class="btn btn-primary btn-filter" data-target="pagado">Available</button>
								<button type="button" class="btn btn-default btn-filter" data-target="pendiente">Un-available</button> -->
							</div>
						</div>
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
										<tr data-status="cancelado">
											<td>
												<div class="media">
													<a href="#" class="pull-left">
														<%= image_tag @caregiver.avatar.url, class: "media-photo", width: '200px',height: "150px"%>
													</a>
													<div class="media-body">
														<span class="media-meta pull-right"><%=payment_link(@caregiver) %>
                            </span>
														<h4 class="title">
																First-name: <%=@caregiver.first_name%><br>
																Last-name: <%=@caregiver.last_name%></br>
																Created-At: <%=@caregiver.created_at.strftime('%d-%m-%Y')%>
														</h4>
													</div>
										      <form action="<%= purchase_status_user_payment_index_path(current_user) %>" method="POST">
										      
										      <input type="hidden" value="<%= "#{@caregiver.id}" %>" name="caregiver_id">
										      <input type="hidden" value="<%= "#{current_user.id}" %>" name="user_id">
										      </form><br>
										      
												</div>
											</td>
										</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>	
	</div>
</div>


<style>

.razorpay-payment-button{

}
.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}
.work img{
	background-color: #0173bc;
  width: 100px;
  height: 24px;
}
</style>
<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="<%= "#{ENV['RAZORPAY_KEYID']}" %>"

    data-amount="<%= "#{@caregiver.amount.to_f*100*15}" %>"
    data-name="<%= "#{@caregiver.first_name}" %>"
    data-description="<%= "" %>"
    data-image= "<%= "#{@caregiver.avatar.url}" %>"

    data-prefill.name="<%= "#{current_user.first_name}" %>"
    data-prefill.email="<%= "#{current_user.email}" %>"
    data-theme.color="#F37254">
</script>
<script>
$(document).ready(function(){

  var options = {
      "key": "<%= ENV['RAZORPAY_KEYID'] %>",
      "amount": "<%= @caregiver.amount.to_f*100*15%>",
      "name": "<%= "#{@caregiver.first_name}" %>",
      "description": "<%= "fg" %>",
      "image": "<%= @caregiver.avatar.url%>",
      "handler": function (response){
        var mapForm = document.createElement("form");
        mapForm.target = "_self";
        mapForm.method = "POST"; // or "post" if appropriate
        mapForm.action = "<%= purchase_status_user_payment_index_path(current_user) %>";

        var mapInput = document.createElement("input");
        mapInput.type = "text";
        mapInput.name = "payment_id";
        mapInput.value = response.razorpay_payment_id;
        mapForm.appendChild(mapInput);

        var mapInput2 = document.createElement("input");
        mapInput2.type = "text";
        mapInput2.name = "user_id";
        mapInput2.value = "<%= "#{current_user.id}" %>";

        var mapInput3 = document.createElement("input");
        mapInput3.type = "text";
        mapInput3.name = "caregiver_id";
        mapInput3.value = "<%= "#{@caregiver.id}" %>";

        mapForm.appendChild(mapInput);
        mapForm.appendChild(mapInput2);
        mapForm.appendChild(mapInput3);

        mapForm.submit();
        $(".razorpay-payment-button").hide()

      },
      "prefill": {
          "name": "<%= "#{current_user.first_name}" %>",
          "email": "<%= "#{current_user.email}" %>"
      },
      "notes": {
          "address": "Hello World"
      },
      "theme": {
          "color": "#198F69"
      }
  };
  $("#rzp-button1").click(function(e){
    var rzp1 = new Razorpay(options);
      rzp1.open();
      e.preventDefault();
  });

});
</script>
