<div class=" " id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-content-one">
        <div class="modal-header">
         
          <%= link_to :back do %>
            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
          <% end %>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="col-md-4"> <div class="prof-img"><%= image_tag @caregiver.avatar.url%></div> </div>
            <div class="col-md-8">
               <div class="col-md-10 clear-box">
                  <iframe width="100%" height="332" src="https://www.youtube.com/embed/yY5wSiOWDK4" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="clearfix">
                </div>
              <h1><%=@caregiver.first_name%> <%=@caregiver.last_name%></h1>
              <p>Email: <%=@caregiver.email%></p>
              <p>State: <%=@caregiver.state%></p>
              <p>City: <%=@caregiver.city%></p>
              <p>Pin-code: <%=@caregiver.pin_code%></p>
              <p>Experience: <%=caregiver_experience @caregiver%></p>
              <p>Skills: <%=@caregiver.skills%></p>
              <form action="<%= purchase_status_user_payment_index_path(current_user) %>" method="POST"> 
                  <input type="hidden" value="<%= "#{@caregiver.id}" %>" name="caregiver_id">
                  <input type="hidden" value="<%= "#{current_user.id}" %>" name="user_id">
              </form>
              <%=payment_link(@caregiver) %>
              <%#= link_to "Hire Me" ,show_caregiver_user_path(@caregiver), class: 'btn btn-primary'%>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="<%= "#{ENV['RAZORPAY_KEYID']}" %>"

    data-amount="<%= "#{@caregiver.amount.to_f*100*15}" %>"
    data-name="<%= "#{@caregiver.first_name}" %>"
    data-description="<%= "" %>"
    data-image= "<%= "#{@caregiver.avatar.url}" %>"

    data-prefill.name="<%= "#{current_user.first_name}" %>"
    data-prefill.email="<%= "#{current_user.email}" %>"
    data-theme.color="#F37254">
</script>
<script>
$(document).ready(function(){

  var options = {
      "key": "<%= ENV['RAZORPAY_KEYID'] %>",
      "amount": "<%= @caregiver.amount.to_f*100*15%>",
      "name": "<%= "#{@caregiver.first_name}" %>",
      "description": "<%= "fg" %>",
      "image": "<%= @caregiver.avatar.url%>",
      "handler": function (response){
        var mapForm = document.createElement("form");
        mapForm.target = "_self";
        mapForm.method = "POST"; // or "post" if appropriate
        mapForm.action = "<%= purchase_status_user_payment_index_path(current_user) %>";

        var mapInput = document.createElement("input");
        mapInput.type = "text";
        mapInput.name = "payment_id";
        mapInput.value = response.razorpay_payment_id;
        mapForm.appendChild(mapInput);

        var mapInput2 = document.createElement("input");
        mapInput2.type = "text";
        mapInput2.name = "user_id";
        mapInput2.value = "<%= "#{current_user.id}" %>";

        var mapInput3 = document.createElement("input");
        mapInput3.type = "text";
        mapInput3.name = "caregiver_id";
        mapInput3.value = "<%= "#{@caregiver.id}" %>";

        mapForm.appendChild(mapInput);
        mapForm.appendChild(mapInput2);
        mapForm.appendChild(mapInput3);

        mapForm.submit();
        $(".razorpay-payment-button").hide()

      },
      "prefill": {
          "name": "<%= "#{current_user.first_name}" %>",
          "email": "<%= "#{current_user.email}" %>"
      },
      "notes": {
          "address": "Hello World"
      },
      "theme": {
          "color": "#198F69"
      }
  };
  $("#rzp-button1").click(function(e){
    var rzp1 = new Razorpay(options);
      rzp1.open();
      e.preventDefault();
  });

});
</script>

<style>
.prof-img {
    height: 332px;
    overflow: hidden;
    border-radius: 6px;
    margin-top: 35px;
  }
.modal-body h1{
  color:#fff;
  font-size: 28px;
  margin-bottom: 5px;
  text-align: left;
  font-weight: 700;
}
.modal-dialog {
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
  }
 .modal-body{
  height: auto;
  padding-bottom: 50px;
  color: white;
 }

 .modal-content{
  border-radius: 0;
 }
 .modal-header{
  border:none;
  padding:30px 15px;
 }.razorpay-payment-button{
 display:  none;
}
.modal-header a span{
    float: right;
    font-size: 40px;
    color: #fff;
    font-weight: 900;
  }
 .modal-header a {
    line-height: 0;
}
.prof-img{
  margin-top:0;
}
 .work img{width: 80px; ,margin-top: 20px;}
</style>