  <div class="slider-wrapper">
    <section class="myslider">
      <h2>COMPASSIONATE CAREGIVING</h2>
      <p>Quality, Transparent Pricing </p>
    </section>
  </div>
<main class="page-content">
    <div class="grid-row"> 
      <!-- benefits -->
      <section class="benefits">
        <ul>
          <li>
            <div class="pic">
              <h2 class="entery-header">Entry level caregivers</h2>
              <p>Rate <span>600/</span>day</p>
              <p class="btn"> <%= get_now_links('en') %><%#= get_now_links_modal('en')%></p>
            </div>
          </li>
          <li>
            <div class="pic">
              <h2 class="experience-header">experienced caregivers</h2>
              <p>Rate <span> 900/</span>day</p>
              <p class="btn"><%= get_now_links('ex') %> <%#= get_now_links_modal('ex')%></p>
            </div>
          </li>
          <li class="special-offer">
            <div class="pic">
              <h2 class="special-header">Specialized caregivers</h2>
              <p>Rate <span>1200/</span>day</p>
              <p class="btn"><%= get_now_links('sc') %> <%#= get_now_links_modal('sc')%></p>
            </div>
          </li>
          <li class="qualify-nurses">
            <div class="pic">
              <h2 class="nurse-header">Qualified nurses</h2>
              <p>Rate <span>2400/</span>day</p>
              <p class="btn"><%= get_now_links('qn') %> <%#= get_now_links_modal('qn')%></p>
            </div>
          </li>
        </ul>
      </section>
      <!--/ benefits --> 
    </div>
  </main>
  <!--/ page content -->
  <section class="quality-sec">
    <div class="container">
      <h3 >Quality care <span> you can trust</span>
        <div >
          <center>
            <img src="/assets/seperation.png" width="85" height="14">
          </center>
        </div>
      </h3>
      <div class="col-md-6 clear-box"><img src="/assets/quality-sec.png"></div>
      <div class="col-md-6   ">
        <div class="">
          <p>The ways we ensure quality </p>
          <ul>
            <li> <span> <img src="/assets/training.png"/> </span> Training </li>
            <li> <span> <img src="/assets/backcheck.png"/> </span> Background Checks </li>
            <li> <span> <img src="/assets/interview1.png"/> </span> Multiple Interviews </li>
            <li> <span> <img src="/assets/Personality_Icon.png"/> </span> Personality Check </li>
            <li> <span class="refernce-block"> <img src="/assets/reference.png"/> </span> Reference Checks </li>
            <li> <span class="happy"> <img src="/assets/assesement.png"/> </span> Assessment by doctors </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="resp-sec">
    <h3>Transparency at <span>your fingertips</span>
      <div >
        <center>
          <img src="/assets/seperation.png" width="85" height="14">
        </center>
      </div>
    </h3>
    <div class="container">
      <div class="col-md-4 ">
        <div class="work-sec">
          <div class="image"> <img src="/assets/explain.jpg" > </div>
          <p> Checklists allow families to specify what needs to be done, and to describe how to do those tasks. </p>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="work-sec">
          <div class="image"> <img src="/assets/general-caring.jpg" > </div>
          <p> Caregivers can keep track of anything important - pain level, emotional well-being, etc. as per your requirement. </p>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="work-sec">
          <div class="image"> <img src="/assets/general-monitoring.jpg" ></div>
          <p> Conditions can be tracked on a daily basis to help with diagnosis and general monitoring. </p>
        </div>
      </div>
    </div>
  </section>
  <section id="carousel" class="testimony">
    <div class="container">
      <div class="row">
        <h3>WHAT OUR <span>CUSTOMERS SAY</span>
          <div >
            <center>
              <img src="/assets/seperation.png" width="85" height="14">
            </center>
          </div>
        </h3>
        <div class="col-md-8 col-md-offset-2">
          <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="5000"> 
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
              <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
              <li data-target="#fade-quote-carousel" data-slide-to="2" ></li>
           
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <div class="profile-circle" style="background-color: rgba(0,0,0,0.2);"> <img src="pic/expert-3.png" ></div>
                <blockquote> <span>Karthik</span>
                  <p>My mother has considerably improved with the help of RightCare support. The caregiver has helped ease my anxiety and made my mother's life very easy. After two years my mother is traveling and enjoying her life! Thanks to the team at RightCare</p>
                </blockquote>
              </div>
              <div class="item">
                <div class="profile-circle" style="background-color: rgba(77,5,51,0.2);"></div>
                <blockquote> <span>Jaya</span>
                  <p>My husband is being taken care by RightCare caregiver as he is having Parkinson's from last 10 years. We are very happy with the services. We have had two caregivers -Bullion and Salgara, both have made tremendous difference to quality of life of me and my husband. My husbands falls have become zero. This has helped us lead a more peaceful life.</p>
                </blockquote>
              </div>
              <div class="item">
                <div class="profile-circle" style="background-color: rgba(77,5,51,0.2);"></div>
                <blockquote> <span>Abhishek</span>
                  <p>I have used Nurses from RightCare for my father. My father had tracheostomy and their nurse Premjit was dedicated in taking care of my father. Under their care we were successfully able to get the tracheostomy closed. I will happily recommend RightCare services.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= all_modal%>