<%= form_tag(url: user_registration_path, method: "post",  :multipart => true, class: 'formtastic post') do %>
   <fieldset>
  <div class="form-group">
    <%= label_tag :first_name, nil, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= text_field_tag :first_name,@resource.try(:first_name), class: "form-control"%>
    </div>
  </div>

    <div class="form-group">
      <%= label_tag :last_name, nil, class: "col-md-3 control-label" %>
      <div class="col-md-5">
        <%= text_field_tag :last_name,@resource.try(:last_name), autofocus: true,class: "form-control input-md"%> 
      </div>
    </div>

  <div class="form-group">
    <%= label_tag :email, nil, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= email_field_tag :email,@resource.try(:email), class: "form-control"%>
    </div>
  </div>

    <div class="form-group">
    <%= label_tag :password, nil, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= password_field_tag :password,@resource.try(:password), class: "form-control"%>
    </div>
  </div>

    <div class="form-group">
    <%= label_tag :password_confirmation, nil, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= password_field_tag :password_confirmation,@resource.try(:password_confirmation), class: "form-control"%>
    </div>
  </div>

  <div class="form-group">
      <%= label_tag :mobile,nil,class: "col-md-4 control-label"%>
      <div class="col-md-5">
        <%= number_field_tag :mobile,@resource.try(:mobile) ,autofocus: true,class: "form-control input-md"%> 
      </div>
  </div>

<!--   <div class="form-group">
      <%#= label_tag :address,nil,class: "col-md-4 control-label"%>
      <div class="col-md-5">
        <%#= text_field_tag :address,nil, autofocus: true,class: "form-control input-md"%> 
      </div>
  </div> -->

  <div class="form-group">
    <%= label_tag :state,nil,class: "col-md-4 control-label"%>
    <div class="col-md-5">
    <%= select_tag "state", options_for_select(User.states, @resource.try(:state)), :prompt => "Select State",class: " selectBox" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :city,nil,class: "col-md-4 control-label"%>
     <div class="col-md-5">
    <%= select_tag "city", options_for_select([],@resource.try(:city)),:prompt => "Select City",class: " selectBox" %>
     </div>
  </div>

    <div class="form-group">
      <%= label_tag :pin_code,nil,class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= number_field_tag :pin_code, @resource.try(:pin_code),autofocus: true,class: "form-control input-md"%> 
      </div>
    </div>


     <div class="form-group">
      <%= label_tag :role,nil,class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= select_tag "role", options_for_select(['user','caregiver'],@resource.try(:role?)),id: 'user-role' ,class: "form-control input-md" %>
      </div>
    </div>

    <div id="caregiver-field">
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="confirmation"></label>
      <div class="col-md-4">
        <%= submit_tag "Sign up", class: "btn btn-primary"%>
      </div>
    </div>
    </fieldset>
<%end%>




<script>
function value_set(d_value)
{
  if($(d_value).val() == "caregiver")
    {      
      $("#caregiver-field").html("<div class='form-group'> <%=j label_tag :avatar,nil,class: 'col-md-4 control-label' %> <div class='col-md-5'> <%=j file_field_tag 'avatar',class: 'form-control input-md'%> </div> </div> <div class='form-group'> <%=j label_tag :amount,nil,class: 'col-md-4 control-label' %> <div class='col-md-5'> <%= j select_tag 'amount', options_for_select(User::AMOUNT,@resource.try(:amount)),class: 'form-control input-md'%></div><%=j label_tag :skills,nil,class: 'col-md-4 control-label' %> <div class='col-md-5'> <%= j text_field_tag 'skills', @resource.try(:skills),class: 'form-control input-md'%> </div> <%=j label_tag 'Video Url',nil,class: 'col-md-4 control-label' %> <div class='col-md-5'> <%= j text_field_tag 'url', @resource.try(:video_url),class: 'form-control input-md'%> <p id='valid_url'></p><p id='invalid_url'></p>  <%=j label_tag 'Language ',nil,class: 'col-md-4 control-label' %> <div class='col-md-5'> <%= j select_tag 'languages', options_for_select(User::LANGUAGE,@resource.try(:languages)),class: 'form-control input-md',multiple: true%></div><div class='form-group'> <%=j label_tag 'Adhar card no.',nil,class: 'col-md-4 control-label' %> <div class='col-md-5'> <%=j text_field_tag 'id_prof',@resource.try(:id_prof),class: 'form-control input-md'%> </div> <div class='form-group'> <%=j label_tag 'emergency_contact',nil,class: 'col-md-4 control-label' %> <div class='col-md-5'> <%=j text_field_tag 'emergency_contact',@resource.try(:emergency_contact),class: 'form-control input-md'%> </div><div class='form-group'> <%=j label_tag 'experience',nil,class: 'col-md-4 control-label' %> <div class='col-md-5'> <%=j number_field_tag 'experience',@resource.try(:experience),class: 'form-control input-md'%> </div></div> <div class='form-group'> <%=j label_tag 'profile',nil,class: 'col-md-4 control-label' %> <div class='col-md-5'> <%=j text_area_tag 'profile',@resource.try(:profile),class: 'form-control input-md'%> </div></div></div>")
      $("#languages").select2({
           // templateResult: formatState;
          });
      $("#url").on('focusout focusin',function(e){
        if($(this).val() != '')
        {
          $.ajax({
            type: "GET",
            url: "/admin/users/check_video_url",
            data: {'video_url': $(this).val()},
            dataType: 'json',
            complete: function(response) {
            status_flag(response)
              
            }
          });
        }
        else
        {
          // $("input[Type='submit']").prop('disabled',false)
          $('#valid_url').html('')
          $('#invalid_url').html('')
        }
      });
    }
    else{$("#caregiver-field").html('')}
}


$(document).ready(function(){
  $("#user-role").change(function(){
    value_set(this)
  })

  $("#state").change(function(){
      $.ajax({
        type: "GET",
        url: "<%= admin_users_select_city_path %>",
        data: {'state_name': this.value},
      success: function(html) {
        $("#city").prepend("<option value='''>Select City</option>");
      },
      error: function(e){
        console.log(e);
      }
    })
  })
  

})

function status_flag(response)
{
  if (response.responseText == "Valid URL"){
    $('#invalid_url').html('')
    $('#valid_url').html(response.responseText)
  }
  else
   {
    $('#valid_url').html('')
    $('#invalid_url').html(response.responseText)
   }
}
</script>
<% if params[:action]=="edit"%>
  <script>
   value_set($("#user-role"))
  </script>
<%end%>