<%= form_tag(url: user_registration_path, method: "post",  :multipart => true, class: 'formtastic post') do %>
   <fieldset>
  <div class="form-group">
    <%= label_tag :first_name, nil, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= text_field_tag :first_name,nil, class: "form-control"%>
    </div>
  </div>

    <div class="form-group">
      <%= label_tag :last_name, nil, class: "col-md-3 control-label" %>
      <div class="col-md-5">
        <%= text_field_tag :last_name,nil, autofocus: true,class: "form-control input-md"%> 
      </div>
    </div>

  <div class="form-group">
    <%= label_tag :email, nil, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= email_field_tag :email,nil, class: "form-control"%>
    </div>
  </div>

    <div class="form-group">
    <%= label_tag :password, nil, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= password_field_tag :password,nil, class: "form-control"%>
    </div>
  </div>

    <div class="form-group">
    <%= label_tag :password_confirmation, nil, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= password_field_tag :password_confirmation,nil, class: "form-control"%>
    </div>
  </div>

  <div class="form-group">
      <%= label_tag :mobile,nil,class: "col-md-4 control-label"%>
      <div class="col-md-5">
        <%= number_field_tag :mobile, autofocus: true,class: "form-control input-md"%> 
      </div>
  </div>

<!--   <div class="form-group">
      <%#= label_tag :address,nil,class: "col-md-4 control-label"%>
      <div class="col-md-5">
        <%#= text_field_tag :address,nil, autofocus: true,class: "form-control input-md"%> 
      </div>
  </div> -->

  <div class="form-group">
    <%= label_tag :state,nil,class: "col-md-4 control-label"%>
    <div class="col-md-5">
    <%= select_tag "state", options_for_select(User.states,"patient"), :prompt => "Select State",class: " selectBox" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :city,nil,class: "col-md-4 control-label"%>
     <div class="col-md-5">
    <%= select_tag "city", options_for_select([],"patient"),:prompt => "Select City",class: " selectBox" %>
     </div>
  </div>

    <div class="form-group">
      <%= label_tag :pin_code,nil,class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= number_field_tag :pin_code, autofocus: true,class: "form-control input-md"%> 
      </div>
    </div>


     <div class="form-group">
      <%= label_tag :role,nil,class: "col-md-4 control-label" %>
      <div class="col-md-5">
        <%= select_tag "role", options_for_select(['patient', 'user','caregiver'],"patient"),id: 'user-role' ,class: "form-control input-md" %>
      </div>
    </div>

    <div id="caregiver-field">
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="confirmation"></label>
      <div class="col-md-4">
        <%= submit_tag "Sign up", class: "btn btn-primary"%>
      </div>
    </div>
    </fieldset>
<%end%>


<script>
$(document).ready(function(){
  $("#user-role").change(function(){
    if($(this).val() == "caregiver")
    {

         
      $("#caregiver-field").html("<div class='form-group'> <%=j label_tag :avatar,nil,class: 'col-md-4 control-label' %> <div class='col-md-5'> <%=j file_field_tag 'avatar',class: 'form-control input-md'%> </div> </div> <div class='form-group'> <%=j label_tag :amount,nil,class: 'col-md-4 control-label' %> <div class='col-md-5'> <%= j select_tag 'amount', options_for_select(User::AMOUNT,600),class: 'form-control input-md'%> </div> </div>")
    }
    else{$("#caregiver-field").html('')}
  })


  $("#state").change(function(){
      $.ajax({
        type: "GET",
        url: "<%= admin_users_select_city_path %>",
        data: {'state_name': this.value},
      success: function(html) {
        $("#city").prepend("<option value='''>Select City</option>");
      },
      error: function(e){
        console.log(e);
      }
    })
  })
})
</script>