<table>
	<tr>
		<th>User Name</th> 
		<th>Caregiver Name</th> 
		<th>Price</th> 
		<th>Payment Status</th> 
		<th>Payment ID</th>
		<th>Refund</th>
	</tr>

<% @payments.each do |payment| %>
<tr>
   <td><%=  payment.user.first_name %></td>
   <td><%= User.find(payment.caregiver_id).first_name %></td>
   <td><%=  payment.price %></td>
   <td><%=  payment.status %></td>
   <td><%= payment.payment_id %></td>
   <td><%= link_to "Refund", admin_users_refund_path(@user,payment) %></td>
</tr>
<%end%>