<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
          <th>Payment ID</th>
          <th>Caregiver</th>
          <th>Price</th>
          <th>Status</th>
      </tr>
    </thead>
    <tbody>
    	<% @payments.each do |payment| %>
      <tr class="clickable warning dropdown-deliverable" data-for="#details_<%=payment.id%>">
        <td><%= payment.payment_id%></td>
        <td><%= User.find(payment.caregiver_id).first_name%></td>
        <td><%= payment.price%></td>
        <td><span class="label label-info"><%= payment.status%></span></td>
       
      </tr>
      <tr style="padding:0">
        <td style="padding:0"></td>
        <td colspan=2 style="padding:0px;">
          <div class="deliverable-infos" id="details_<%=payment.id%>">
            <table class="table table-condensed table-user-content" id="hidden_table_1">
              <tbody>
                <tr>
                  <td>Entity :</td>
                  <td class="right-col"><%= payment.extra_records["entity"]%></td>
                </tr>
                <tr>
                  <td>Currency :</td>
                  <td class="right-col"><%= payment.extra_records["currency"]%></td>
                </tr>
                <tr>
                  <td>Refund Status :</td>
                  <td class="right-col"><%= payment.extra_records["refund_status"]%></td>
                </tr>
                <tr>
                  <td>Amount_Refunded :</td>
                  <td class="right-col"><%= payment.extra_records["amount_refunded"]%></td>
                </tr>
                <tr>
                  <td>Bank :</td>
                  <td class="right-col"><%= payment.extra_records["bank"]%></td>
                </tr>

                <tr>
                  <td>Email :</td>
                  <td class="right-col"><%= payment.extra_records["email"]%></td>
                </tr>

                <tr>
                  <td>Contact :</td>
                  <td class="right-col"><%= payment.extra_records["contact"]%></td>
                </tr>
                <tr>
                  <td>Fee :</td>
                  <td class="right-col"><%= payment.extra_records["fee"]/100.to_f %></td>
                </tr>
                <tr>
                  <td>Service Tax :</td>
                  <td class="right-col"><%= payment.extra_records["service_tax"]/100.to_f%></td>
                </tr>
                <tr>
                  <td>Created At :</td>
                  <td class="right-col"><%= payment.created_at.strftime('%d-%m-%Y')%></td>
                </tr>
                <tr><td><%= link_to 'Receipt', admin_users_payment_receipt_path(@user,payment, format: :pdf), class: 'btn btn-primary' %></td></tr>
                <%if payment.active%>
                  <tr><td>
                  <%= link_to "Refund", admin_users_refund_path(@user,payment) %>
                  </td></tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </td>
        <td style="padding:0"></td>
        <td style="padding:0"></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
$(document).ready(function() {
    $('.deliverable-infos').hide();
    $('.dropdown-deliverable').on('click', function(e) {
        console.log("dropdown toggled!");
        e.preventDefault();
        e.stopPropagation();
        //get targeted element via data-for attribute
        var dataFor = $(this).data('for');
        var idFor = $(dataFor);
        idFor.slideToggle();
    }); 
});
</script>
<style>
.clickable {
    cursor: pointer;
}

.right-col {
    text-align: center;
}
</style>

