<header class="page-header main-page sticky">
    <div class="header-top bg-light-gray tz-header-bg">
      <div class="container">
        <div >
          <div class=" top-header">
            <div class="col-md-4 col-sm-5">
              <div class="mail"> <img src="/assets/call.png" >CALL US : 088-925-05557 </div>
            </div>
            <!-- social elements -->
            <div class=" pull-right right-info">
              <div class="col-md-8 col-sm-7 text-right">
                <div class="social text-right pull-right "> <a href="#"><i class="fa fa-facebook tz-icon-color"></i></a> <a href="#"><i class="fa fa-twitter tz-icon-color"></i></a> <a href="#"><i class="fa fa-google-plus tz-icon-color"></i></a> </div>
              </div>
              <%= link_account%>
           
            </div>
            <!-- end social elements --> 
          </div>
        </div>
      </div>
    </div>
    <div class="sticky-wrapp">
      <div class="sticky-container"> 
        <!-- logo -->
        <div class="container">
          <div class="col-md-3 col-sm-4 clear-box">
            <section id="logo" class="logo">
              <div> <a href="<%= root_path %>"> <img src="/assets/logo.png" ></a> </div>
            </section>
          </div>
          
          <!--/ logo --> 
          
          <!-- main nav -->
          <div class="col-md-9 col-sm-8 pull-right text-right clear-box">
            <nav class="main-nav pull-right">
              <ul>
              	
                <li> <a href="<%= root_path %>" class="active">Home</a> </li>
                <li> <a href="<%= about_pages_path %>">About Us</a> </li>
                <li> <a href="<%= faqs_pages_path %>">FAQs</a> </li>
                <li class="right"> <a href="<%= blogs_path %>">Blog</a> </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--/ main nav --> 
        
        <!-- mobile nav -->
      <div class="nav-side-menu mobile-main-nav">
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                 <li> <a href="<%= root_path %>" class="active">Home</a> </li>
                <li> <a href="<%= about_pages_path %>">About Us</a> </li>
                <li> <a href="<%= faqs_pages_path %>">FAQs</a> </li>
                <li class="right"> <a href="<%= blogs_path %>">Blog</a> </li>
                 <%= mobile_link_account%>
            </ul>
        </div>
</div>
     
    
        
        <!--/ mobile nav --> 
      </div>
    </div>
</header>
