<header class="page-header main-page sticky">
    <div class="header-top bg-light-gray tz-header-bg">
      <div class="container">
        <div >
          <div class=" top-header">
            <div class="col-md-4">
              <div class="mail"> <img src="/assets/call.png" >CALL US : 088-925-05557 </div>
            </div>
            <!-- social elements -->
            <div class=" pull-right right-info">
              <div class="col-md-8 text-right">
                <div class="social text-right pull-right "> <a href="#"><i class="fa fa-facebook tz-icon-color"></i></a> <a href="#"><i class="fa fa-twitter tz-icon-color"></i></a> <a href="#"><i class="fa fa-google-plus tz-icon-color"></i></a> </div>
              </div>
              <%= link_account%>
           
            </div>
            <!-- end social elements --> 
          </div>
        </div>
      </div>
    </div>
    <div class="sticky-wrapp">
      <div class="sticky-container"> 
        <!-- logo -->
        <div class="container">
          <div class="col-md-3 clear-box">
            <section id="logo" class="logo">
              <div> <a href="<%= root_path %>"> <img src="/assets/logo.png" ></a> </div>
            </section>
          </div>
          
          <!--/ logo --> 
          
          <!-- main nav -->
          <div class="col-md-9 pull-right text-right clear-box">
            <nav class="main-nav pull-right">
              <ul>
              	
                <li> <a href="<%= root_path %>" class="active">Home</a> </li>
                <li> <a href="<%= about_pages_path %>">about us</a> </li>
                <li> <a href="#">blog</a> </li>
                <li> <a href="#">careers</a> </li>
                <li class="right"> <a href="<%= terms_condition_pages_path %>">terms</a> </li>
                <li class="right"> <a href="<%= privacy_policy_pages_path %>">privacy</a> </li>
                <li class="right"> <a href="#">contact</a> </li>
              </ul>
            </nav>
          </div>
        </div>
        <!--/ main nav --> 
        
        <!-- mobile nav -->
        <nav id="mobile-main-nav" class="mobile-main-nav"> <i class="fa fa-bars"></i><a href="#" class="opener">Navigation</a>
          <ul>
            <li> <i></i><a href="<%= root_path%>" class="active">Home</a>
              <ul>
                <li> <i></i><a href="<%= root_path%>">Medical Style</a>
                  <ul>
                    <li class="text">
                      <h2>Main Campus</h2>
                      <hr>
                      <p>123 Fashion Avenue<br>
                        New York, MO 265984</p>
                      <hr>
                      <a href="#" class="more fa fa-angle-double-right"></a> </li>
                  </ul>
                </li>
                <li><a href="home-news.html">News Style</a></li>
                <li><a href="wellness-home.html">Wellness Style</a></li>
                <li><a href="home-one-page.html">Home Alternative</a></li>
              </ul>
            </li>
            <li> <a href="services.html">Servives</a> </li>
            <li> <i></i><a href="timetable-week.html">Timetable</a>
              <ul>
                <li><a href="timetable-month.html">Month View</a></li>
                <li><a href="timetable-week.html">Week View</a></li>
                <li><a href="timetable-list.html">List View</a></li>
              </ul>
            </li>
            <li> <i></i><a href="news-default.html">News</a>
              <ul>
                <li><a href="news-four-columns.html">Four columns</a></li>
                <li><a href="news-three-columns.html">Three columns</a></li>
                <li><a href="news-two-columns.html">Two columns</a></li>
                <li><a href="news-full-width.html">Full width</a></li>
                <li><a href="news-blog-post.html">Blog post</a></li>
              </ul>
            </li>
            <li> <i></i><a href="index.html">Features</a>
              <ul>
                <li><a href="widgets.html">Various widgets</a></li>
                <li> <i></i><a href="#">Huge number of pages</a>
                  <ul>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="locations.html">Locations</a></li>
                    <li><a href="doctors.html">Our Doctors</a></li>
                    <li><a href="full-width-page.html">Full-Width Page</a></li>
                    <li><a href="page-with-sidebar.html">Page with Sidebar</a></li>
                    <li><a href="page-with-double-sidebar.html">Double Sidebars Page</a></li>
                    <li><a href="page-404.html">404 Page</a></li>
                    <li><a href="page-pricing-table.html">Pricing tables</a></li>
                  </ul>
                </li>
                <li> <a href="feature-unlimited-color.html">Unlimited Color Variations</a> </li>
                <li><a href="responsive_and_retina_ready.html">Retina Ready & Responsive</a></li>
                <li><a href="features-accordion.html">Styled Content Items</a></li>
              </ul>
            </li>
            <li> <i></i><a href="photo-gallery.html">Photo Tour</a>
              <ul>
                <li> <i></i><a href="photo-four-filter.html">Four columns</a>
                  <ul>
                    <li><a href="photo-four-filter.html">With filter</a></li>
                    <li><a href="photo-four.html">Without filter</a></li>
                  </ul>
                </li>
                <li> <i></i><a href="photo-three-filter.html">Three columns</a>
                  <ul>
                    <li><a href="photo-three-filter.html">With filter</a></li>
                    <li><a href="photo-three.html">Without filter</a></li>
                  </ul>
                </li>
                <li> <i></i><a href="photo-two-filter.html">Two columns</a>
                  <ul>
                    <li><a href="photo-two-filter.html">With filter</a></li>
                    <li><a href="photo-two.html">Without filter</a></li>
                  </ul>
                </li>
                <li><a href="photo-one.html">One column</a></li>
                <li><a href="photo-single.html">Single item</a></li>
              </ul>
            </li>
            <li> <a href="contacts.html">Contacts</a> </li>
          </ul>
        </nav>
        
        <!--/ mobile nav --> 
      </div>
    </div>
</header>
  <!--/ page header --> 
  
  <!-- slider -->
  