<!DOCTYPE html>
<html>
<head>
  <title>Rightcare1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<%= render partial: 'layouts/header' unless params[:action] =="show_caregiver"%>
<% if flash[:notice] %>
  <div class="alert alert-success notice">
    <strong><%= flash[:notice] %></strong> 
    <span class="glyphicon glyphicon-hand-up cross"></span>
  </div>
<% end %>
<% if flash[:errors] %>
  <div class="alert alert-danger notice">
    <strong><%= flash[:errors] %></strong> 
    <span class="glyphicon glyphicon-hand-up cross"></span>
  </div>
<% end %>
<% if flash[:warning] %>
  <div class="alert alert-warning notice">
    <strong><%= flash[:warning] %></strong> 
    <span class="glyphicon glyphicon-hand-up cross"></span>
  </div>
<% end %>



<%= yield %>
  <%unless user_signed_in? %>
		<div id="login5" class="modal modal-wide">
		 
		</div>
  <%end%>
  <!-- /.modal-content --> 
</div>
    <!-- /.modal-dialog --> 
  </div>
<%= render partial: 'layouts/footer' unless params[:action] =="show_caregiver"%>
</body>
</html>


<script>
$(document).ready(function(){
	$(".login-sec").click(function(){ 
		$.ajax({
			type: 'get',
			url: "<%=new_user_session_path%>",
		});
	});
})

</script>